target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### 本地运行产物 ###
uploads/
logs/
*.log

### 环境相关 ###
.flattened-pom.xml
